
.header {
    background-color: #000;
}
.header__logo {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 15px;
}
.header__ttl {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}