* {
    box-sizing: border-box;
}
.form__content {
    max-width: 600px;
    margin: 32px auto;
}

.form__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.form__item-label {
    width: 200px;
}
.form__item-input {
    flex: 1;
    font-size: 16px;
    padding: 5px;
}
.form__button {
    text-align: center;
    margin-top: 30px;


}
.form__button-submit {
    padding: 10px 30px;
    color: #eee;
    background-color: #000;
    border-radius: 5px;
    cursor: pointer;
}