body {
    
}

.form__content {
    text-align: center;
    max-width: 1230px;
        margin: 0 auto;
}

.form {
    display: flex;
    justify-content: center;
}

.form__select {
    width: 300px;
    padding: 0 5px;
}

.form__select-list {
    width: 100%;
    height: 40px;
    padding: 5px;
    appearance: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form__submit {
    padding: 0 5px;
    width: 120px;
}

.form__submit-btn {
    height: 40px;
    width: 100%;
    background-color: #000;
    color: #EEE;
    padding: 10px;
    border-radius: 5px;
}